body{
    background-color:black;
    font-family: Verdana;
    color:white;
    text-align: center;
}

a{
    color:aquamarine;
    font-size: 16px;
}


#firstTitle{
    font-weight: normal;
    font-size: 50px;
}

.Title{
    font-weight:300;
    font-size:42px;
}

#secondDescription{
    font-size: 21px;
    color:grey;
}

footer p{
    text-align:right;
    color:grey;
}